doctype html
html
  head
    title Ján Gábela, IV122 - 4. týždeň
    == Slim::Template.new('site/_head.slim').render

  body
    .container
      .row
        .col-lg-10.col-lg-offset-1
          h1.text-center
            | Vyriešené zadania zo štvrtého  týždňa

      hr
      .row
        .col-lg-offset-1.col-lg-10
          .row
            .col-lg-12
              h3.text-primary A) Základné útvary
              p
                | Zdrojové kódy:
                a< href="https://github.com/feki/iv122/blob/master/04/shapes.rb" shapes.rb (funkcie circle_full, circle_impl, circle_par, spiral, triangle, ellipse)
                | ,
                a< href="https://github.com/feki/iv122/blob/master/04/taskA.rb" taskA.rb
              .row
                .col-lg-3
                  img.img-responsive src="img/04/circle_full.png"
                .col-lg-3
                  img.img-responsive src="img/04/circle_impl.png"
                .col-lg-3
                  img.img-responsive src="img/04/circle_par.png"
                .col-lg-3
                .col-lg-3
                  img.img-responsive src="img/04/spiral.png"
                .col-lg-3
                  img.img-responsive src="img/04/triangle.png"
                .col-lg-3
                  img.img-responsive src="img/04/ellipse.png"
          .row
            .col-lg-12
              h3.text-primary B) Mnohouholník
              p
                | Zdrojové kódy:
                a< href="https://github.com/feki/iv122/blob/master/04/shapes.rb" shapes.rb (funkcia sample_polygon)
                | ,
              .row
                .col-lg-3
                  img.img-responsive src="img/04/sample_polygon.png"

          .row
            .col-lg-12
              h3.text-primary C) Efekty
              p
                | Zdrojové kódy:
                a< href="https://github.com/feki/iv122/blob/master/04/effects.rb" effects.rb
                | ,
                a< href="https://github.com/feki/iv122/blob/master/04/taskC.rb" taskC.rb
              .row
                .col-lg-3
                  img.img-responsive src="img/04/effect1.png"

          hr

    javascript:
      hljs.initHighlightingOnLoad();