meta charset="utf-8"
meta name="keywords" content="IV122 portfolio"
meta name="description" content="Portfólio vyriešených zadaní z predmetu IV122."
meta name="author" content="Ján Gábela"
meta name="viewport" content="width=device-width, initial-scale=1"
link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"
link rel="stylesheet" type="text/css" href="css/custom.css"
link rel="stylesheet" type="text/css" href="css/github.css"
script type="text/javascript" src="js/jquery.min.js"
script type="text/javascript" src="js/bootstrap.min.js"
script type="text/javascript" src="js/highlight.pack.js"
