doctype html
html
  head
    title Ján Gábela IV122
    == Slim::Template.new('site/_head.slim').render()

  body
    .container
      .row
        .col-lg-10.col-lg-offset-1
          h1.text-center
            | Portfólio vyriešených zadaní z predmetu IV122
          hr
      .row
        .col-lg-10.col-lg-offset-1
          dl
            dt.h4
              a href="1.html" Úvodná rozcvička
            dd Collatzová rada, práca s grafikou, Ulamova špirála, vizualizácia najväčšieho spoločného delitela
            dt.h4
              a href="2.html" Kombinatorika, výpočty
            dd Generovanie kombinácií, permutácií, variacií, Pascalov trojuholník, približné umocňovanie, výpočet <i>&pi;</i>
            dt.h4
              a href="3.html" Korytnačia grafika
            dd Knižnica pre korytnačiu grafiku, vykreslovanie relatívne vs. absolutne, korytnačia grafika a fraktály, kreativita korytnačky
            dt.h4
              a href="4.hmtl" Bitmapová grafika
            dd Základné útvary, mnohouholník, efekty, skrývačky

